language: php
php:
- 5.6
- 7.0
- 7.1
matrix:
  allow_failures:
  - php: 7.1
sudo: false
services:
- mysql
cache:
  directories:
  - node_modules
git:
  submodules: false
before_install:
- echo $KEY > travis
- chmod 600 travis
- nvm install 5.1
- gem update --system
- gem install compass
- openssl aes-256-cbc -K $encrypted_a6f388dddefc_key -iv $encrypted_a6f388dddefc_iv
  -in travis.enc -out travis -d
- chmod 600 travis
before_script:
- mkdir -p storage/framework/{cache,views,sessions}
- cp .env.travis .env
- mysql -e 'create database laravel;' -uroot
- php artisan key:generate
- php artisan cache:clear
- php artisan config:clear
- php artisan view:clear
- php artisan clear-compiled
install:
- travis_retry composer self-update
- travis_retry composer install --no-interaction --no-suggest
- npm install
- npm install gulp
- npm install -g gulp
script:
- php artisan migrate --force --seed
- gulp
- vendor/bin/phpunit
deploy:
- provider: script
  skip_cleanup: true
  script: "/bin/sh ./deploy.sh"
  on:
    branch: develop
