/* line 3, ../../resources/assets/sass/app.scss */
html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif; }

/* line 7, ../../resources/assets/sass/app.scss */
.demo-avatar {
  width: 48px;
  height: 48px;
  border-radius: 24px; }

/* line 14, ../../resources/assets/sass/app.scss */
.demo-layout .demo-header .mdl-textfield {
  margin-top: 5px; }
/* line 18, ../../resources/assets/sass/app.scss */
.demo-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54); }

/* line 23, ../../resources/assets/sass/app.scss */
.mdl-layout__drawer .avatar {
  margin-bottom: 16px; }

/* line 27, ../../resources/assets/sass/app.scss */
.demo-drawer {
  border: none; }
  /* line 30, ../../resources/assets/sass/app.scss */
  .demo-drawer .mdl-menu__container {
    z-index: -1; }
  /* line 34, ../../resources/assets/sass/app.scss */
  .demo-drawer .demo-navigation {
    z-index: -2; }
  /* line 38, ../../resources/assets/sass/app.scss */
  .demo-drawer .mdl-menu .mdl-menu__item {
    display: -webkit-flex;
    -webkit-align-items: center;
    display: flex;
    align-items: center; }

/* line 46, ../../resources/assets/sass/app.scss */
.demo-drawer-header {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-justify-content: flex-end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 16px;
  height: 151px; }

/* line 57, ../../resources/assets/sass/app.scss */
.demo-avatar-dropdown {
  position: relative;
  display: -webkit-flex;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%; }

/* line 67, ../../resources/assets/sass/app.scss */
.demo-navigation {
  -webkit-flex-grow: 1;
  flex-grow: 1; }

/* line 71, ../../resources/assets/sass/app.scss */
.demo-layout .demo-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  -webkit-flex-direction: row;
  -webkit-align-items: center;
  display: flex !important;
  flex-direction: row;
  align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500; }
  /* line 80, ../../resources/assets/sass/app.scss */
  .demo-layout .demo-navigation .mdl-navigation__link.current {
    background-color: #00838f; }
  /* line 84, ../../resources/assets/sass/app.scss */
  .demo-layout .demo-navigation .mdl-navigation__link:hover {
    background-color: #00BCD4;
    color: #37474F; }

/* line 90, ../../resources/assets/sass/app.scss */
.demo-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px; }

/* line 100, ../../resources/assets/sass/app.scss */
.demo-charts {
  -webkit-align-items: center;
  align-items: center; }

/* line 105, ../../resources/assets/sass/app.scss */
.demo-chart:nth-child(1) {
  color: #ACEC00; }
/* line 109, ../../resources/assets/sass/app.scss */
.demo-chart:nth-child(2) {
  color: #00BBD6; }
/* line 113, ../../resources/assets/sass/app.scss */
.demo-chart:nth-child(3) {
  color: #BA65C9; }
/* line 117, ../../resources/assets/sass/app.scss */
.demo-chart:nth-child(4) {
  color: #EF3C79; }

/* line 122, ../../resources/assets/sass/app.scss */
.demo-graphs {
  padding: 16px 32px;
  display: -webkit-flex;
  -webkit-flex-direction: column;
  -webkit-align-items: stretch;
  display: flex;
  flex-direction: column;
  align-items: stretch; }

/* TODO: Find a proper solution to have the graphs
 * not float around outside their container in IE10/11.
 * Using a browserhacks.com solution for now.
 */
/* line 136, ../../resources/assets/sass/app.scss */
_:-ms-input-placeholder, :root .demo-graphs {
  min-height: 664px; }

/* line 140, ../../resources/assets/sass/app.scss */
_:-ms-input-placeholder, :root .demo-graph {
  max-height: 300px; }

/* TODO end */
/* line 147, ../../resources/assets/sass/app.scss */
.demo-graph:nth-child(1) {
  color: #00b9d8; }
/* line 151, ../../resources/assets/sass/app.scss */
.demo-graph:nth-child(2) {
  color: #d9006e; }

/* line 156, ../../resources/assets/sass/app.scss */
.demo-cards {
  -webkit-align-items: flex-start;
  -webkit-align-content: flex-start;
  align-items: flex-start;
  align-content: flex-start; }
  /* line 162, ../../resources/assets/sass/app.scss */
  .demo-cards .demo-separator {
    height: 32px; }
  /* line 166, ../../resources/assets/sass/app.scss */
  .demo-cards .mdl-card__title.mdl-card__title {
    color: white;
    font-size: 24px;
    font-weight: 400; }
  /* line 172, ../../resources/assets/sass/app.scss */
  .demo-cards ul {
    padding: 0; }
  /* line 176, ../../resources/assets/sass/app.scss */
  .demo-cards h3 {
    font-size: 1em; }

/* line 181, ../../resources/assets/sass/app.scss */
.demo-updates .mdl-card__title {
  min-height: 200px;
  background-image: url("images/dog.png");
  background-position: 90% 100%;
  background-repeat: no-repeat; }

/* line 188, ../../resources/assets/sass/app.scss */
.demo-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none; }

/* line 194, ../../resources/assets/sass/app.scss */
.demo-options h3 {
  margin: 0; }
/* line 198, ../../resources/assets/sass/app.scss */
.demo-options .mdl-checkbox__box-outline {
  border-color: rgba(255, 255, 255, 0.89); }
/* line 202, ../../resources/assets/sass/app.scss */
.demo-options ul {
  margin: 0;
  list-style-type: none; }
/* line 207, ../../resources/assets/sass/app.scss */
.demo-options li {
  margin: 4px 0; }
/* line 211, ../../resources/assets/sass/app.scss */
.demo-options .material-icons {
  color: rgba(255, 255, 255, 0.89); }
/* line 215, ../../resources/assets/sass/app.scss */
.demo-options .mdl-card__actions {
  height: 64px;
  display: -webkit-flex;
  -webkit-align-items: center;
  display: flex;
  align-items: center; }

/* line 224, ../../resources/assets/sass/app.scss */
#inbox__add, #task__add, #client__add, #project__add, #worker__add, #worksheet__import, #idea__add, #setting__add, #label__add, #lead__add,
#rule__add, #user__add {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 40px;
  margin-bottom: 40px;
  z-index: 900; }

/* line 235, ../../resources/assets/sass/app.scss */
#worksheet__add {
  position: fixed;
  display: block;
  right: 0;
  bottom: 0;
  margin-right: 120px;
  margin-bottom: 40px;
  z-index: 900; }

/* line 245, ../../resources/assets/sass/app.scss */
.red {
  color: red; }

/* line 249, ../../resources/assets/sass/app.scss */
.green {
  color: green; }

/* line 253, ../../resources/assets/sass/app.scss */
.grey {
  color: silver; }

/* line 257, ../../resources/assets/sass/app.scss */
.orange {
  color: orange; }

/* Table of content widget */
/* line 263, ../../resources/assets/sass/app.scss */
.submenu ul {
  border-left: solid 3px #C0EbF1;
  padding-left: 20px;
  line-height: 28px; }
/* line 268, ../../resources/assets/sass/app.scss */
.submenu a {
  font-weight: 400;
  color: #00BCD4;
  text-decoration: none; }
/* line 273, ../../resources/assets/sass/app.scss */
.submenu li {
  font-size: 16px;
  list-style: none; }

/* line 280, ../../resources/assets/sass/app.scss */
.mdl-textfield--full-width textarea {
  width: 100%; }

/* line 286, ../../resources/assets/sass/app.scss */
.flat .mdl-textfield, .flat .mdl-selectfield {
  width: auto; }

/* line 292, ../../resources/assets/sass/app.scss */
.mdl-button--file input {
  cursor: pointer;
  height: 100%;
  right: 0;
  opacity: 0;
  position: absolute;
  top: 0;
  width: 300px;
  z-index: 4; }

/* line 305, ../../resources/assets/sass/app.scss */
.mdl-textfield--file .mdl-textfield__input {
  box-sizing: border-box;
  width: calc(100% - 32px); }
/* line 309, ../../resources/assets/sass/app.scss */
.mdl-textfield--file .mdl-button--file {
  right: 0; }

/* line 314, ../../resources/assets/sass/app.scss */
.sortable {
  color: rgba(0, 0, 0, 0.26); }
  /* line 316, ../../resources/assets/sass/app.scss */
  .sortable:hover {
    color: rgba(0, 0, 0, 0.26); }

/* line 321, ../../resources/assets/sass/app.scss */
.wrappable {
  white-space: normal; }

/* line 325, ../../resources/assets/sass/app.scss */
.mdl-button .mdl-badge[data-badge]:after {
  top: -2px;
  right: -2px;
  font-size: 10px;
  width: 15px;
  height: 15px; }

/* line 333, ../../resources/assets/sass/app.scss */
.pull-right {
  float: right; }

/* line 337, ../../resources/assets/sass/app.scss */
.chat-message {
  min-height: 0;
  width: 100%;
  margin-bottom: 20px; }
